<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fikri Porto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">

</head>

<body>
    <!-- NAVBAR START -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg fixed-top">
        <div class="container">
            <a class="navbar-brand fw-bold" style="color: aqua;" href="#home">Portofolio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navbarText">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <!-- ms (start. memberi jarak dengan logo yang tadinya mepet kanan menjadi di paling kiri) -->
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#service">Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portofolio">Portofolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- NAVBAR END -->

    <!-- Home -->
    <div class="container-fluid banner" id="home">
        <div class="container text-center">
            <h4 class="display-1 fw-bold">Muhammad Hasan Fikri</h3>
                <h6 class="display-6">Junior Programing and UI UX Designer
            </h4>
            <a href="#portofolio">
                <button type="button" class="btn btn-info btn-lg">Visit My Works</button>
            </a>
        </div>
    </div>
    <!-- Home end -->

    <!-- ABOUT -->
    <div class="container py-5 " id="about">
        <div class="row align-items-center">
            <div class="col-md-4 text-center">
                <img src="static/img/20240921_141241.png" class="img-fluid" alt="Profile Image" />
            </div>
            <div class="col-md-8">
                <p>Who me ?</p>
                <h2 class="fw-bold">About Me</h2>
                <p>Hi, I am Muhammad Hasan Fikri, a 20-year-old student at Universitas PGRI Semarang. I am an
                    enthusiastic front-end programmer, with expertise in UI/UX design and specialization as a content
                    creator. I believe that creativity and innovation are the keys to every project I work on. In
                    addition, I am known as a fun, friendly, and pleasant person, who always tries to create a positive
                    and collaborative work environment. With a combination of technical skills and a cheerful
                    personality, I am ready to take on new challenges and contribute to creating interesting and
                    effective solutions.</p>
                <a href="https://wa.me/0895412708713" target="_blank">
                    <button type="button" class="btn btn-outline-info">Download CV</button>
                </a>

            </div>
        </div>
    </div>

    <!-- ABOUT END -->

    <!-- SERVICE -->
    <div class="container text-center py-5 " id="service">
        <h2 class="display-4 fw-bold">Service</h2>
        <p>What I Am Great At?</p>
        <div class="row pt-4">
            <div class="col-md-3">
                <div class="service-box p-3 hover-box">
                    <img src="https://static.vecteezy.com/system/resources/previews/010/145/893/original/ui-ux-icon-sign-design-free-png.png"
                        alt="UI/UX Design" class="service-icon mb-3" />
                    <h4>UI/UX Design</h4>
                    <p class="service-desc">designing intuitive user interfaces and experiences, ensuring easy
                        navigation and attractive appearance.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="service-box p-3 hover-box">
                    <img src="https://cdn-icons-png.flaticon.com/512/1049/1049443.png" alt="Programer"
                        class="service-icon mb-3" />
                    <h4>Programer</h4>
                    <p class="service-desc">Programming solutions offer efficient and reliable web and mobile
                        applications according to your business needs.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="service-box p-3 hover-box">
                    <img src="https://cdn-icons-png.flaticon.com/512/2503/2503644.png" alt="Content Creator"
                        class="service-icon mb-3" />
                    <h4>Content Creator</h4>
                    <p class="service-desc">creating engaging and relevant creative content to build your brand across
                        multiple platforms.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="service-box p-3 hover-box">
                    <img src="https://cdn-icons-png.flaticon.com/512/1462/1462461.png" alt="Marketing"
                        class="service-icon mb-3" />
                    <h4>Marketing</h4>
                    <p class="service-desc">Marketing strategies are designed to increase the visibility and growth of
                        your business in the digital world.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- SERVICE END -->

    <!-- PORTO -->
    <div class="container-fluid pt-5 pb-5 bg-light">
        <div class="container text-center">
            <h2 class="display-3 fw-bold" id="portofolio">Portofolio</h2>
            <p>Welcome to my portfolio! Discover a variety of projects that reflect my skills in web design and
                development.</p>
            <div class="row pt-4 gx-4 gy-4"><!-- gx dan gy berfungsi mengatur jarak antar kolom -->
                <div class="col-md-4">
                    <div class="card crop-img">
                        <img src="https://cdn-oss.ginee.com/official/wp-content/uploads/2021/08/image-12.png
                        " class="card-img-top" alt="Shop" width="200" height="250">
                        <div class="card-body">
                            <h5 class="card-title">Online Shop</h5>
                            <p class="card-text">This website offers an easy and enjoyable shopping experience,
                                providing a variety of quality products with an intuitive interface and secure payment
                                process.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card crop-img">
                        <img src="https://images-wixmp-530a50041672c69d335ba4cf.wixmp.com/templates/image/e9b53296a3cc0a62d0be63c59cd0e6861cf3c0a35183098a00592e8bb51f24531635234389706.jpg
                        " class="card-img-top" alt="Sport" width="200" height="250">
                        <div class="card-body">
                            <h5 class="card-title">Sports Care</h5>
                            <p class="card-text">This website serves as an information center and community for sports
                                fans, featuring the latest news, training tips, and interesting articles about the world
                                of sports.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card crop-img">
                        <img src="https://149842033.v2.pressablecdn.com/wp-content/uploads/2019/03/free-medical-website-templates-1000x750.jpg
                        " class="card-img-top" alt="Health" width="200" height="250">
                        <div class="card-body">
                            <h5 class="card-title">Health Care</h5>
                            <p class="card-text">This website serves as a trusted source for health and fitness
                                information, providing articles, guides, and tips to support a healthy and balanced
                                lifestyle.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- PORTO END -->

    <!-- CONTACT -->
    <div class="container-fluid pt-5 pb-5 contact">
        <div class="container">
            <h2 class="display-3 text-center fw-bold" id="contact">Contact Me</h2>
            <p class="text-center">
                If you are interested in working together or have any questions, please feel free to contact me via the
                form below.
            </p>
            <div class="row pb-3">
                <div class="col-md-6">
                    <input class="form-control form-control-lg mb-3" type="text" placeholder="Name">
                    <input class="form-control form-control-lg mb-3" type="text" placeholder="Email">
                    <input class="form-control form-control-lg mb-3" type="text" placeholder="No. Phone">
                </div>
                <div class="col-md-6">
                    <textarea class="form-control form-control-lg" rows="5" placeholder="Write Something"></textarea>
                </div>
            </div>
            <div class="col-md-3 mx-auto text-center">
                <a href="https://wa.me/0895412708713" target="_blank">
                    <button type="button" class="btn btn-info btn-lg">Send Massage</button>
                </a>
            </div>
        </div>
    </div>
    <!-- CONTACT END -->

    <!-- Footer Start -->
    <footer class="bg-dark text-center text-white py-3">
        <div class="container">
            <p class="mb-0">&copy; 2024 Muhammad Hasan Fikri. Thank you!!, But sorry if my website looks bad :)</p>
            <p>
                <a href="https://www.linkedin.com/in/muhammad-hasan-fikri" target="_blank"
                    class="text-info">LinkedIn</a> |
                <a href="https://github.com/hasan-fikri" target="_blank" class="text-info">GitHub</a> |
                <a href="https://www.instagram.com/accounts/login/?hl=en" class="text-info">Instagram</a>
            </p>
        </div>
    </footer>
    <!-- Footer End -->


    <!-- JAvascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>